<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712363500669-8qn9fjmaikp25brar94jnfr21kfrsv0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712363500669-8qn9fjmaikp25brar94jnfr21kfrsv0a</string>
	<key>API_KEY</key>
	<string>AIzaSyD0QhtJx8A2iguV7grDReBb-tlF744cBSw</string>
	<key>GCM_SENDER_ID</key>
	<string>712363500669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>nbioni</string>
	<key>STORAGE_BUCKET</key>
	<string>nbioni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712363500669:ios:06b4338b6885aa5dcb7d14</string>
</dict>
</plist>